<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @episode.number %>
</p>

<p>
  <strong>Season:</strong>
  <%= @episode.season %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @episode.synopsis %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @episode.serie %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
